<h1>Thanks for signing up!</h1>
<h3>Now you will be able to read and comment about the most incredible Fly Fishing destinations around the world</h3>
<p><a href="/logins/new" class="btn btn-primary">Sign In</a></p>
<p><a href="/" class="btn btn-primary">Go Home</a></p>
