<div class="row">
  <div class="col text-center">
    <img src="https://i.pinimg.com/originals/c7/34/9b/c7349b6668ca9b80667c8057510eb9d4.jpg">

    <h1 class='mt-5'>User not found</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>