<div class="row">
  <div class="col text-center">
    <img src="http://www.quickmeme.com/img/b3/b325a40092a612de882182891c377628594159b6ffe8207e859ff69b11c11cf1.jpg">

    <h1 class='mt-5'>Whoops.  Something went wrong.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>