<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fly Fishing Trips</h1 class="display-4">
    <p class="lead">Get to know the best Fly Fishing trips around the world</p>
    <hr class="my-3">
    <a class="btn btn-info btn-lg" href="XXX" role="button">Sign Up</a>
    <a class="btn btn-info btn-lg" href="YYY" role="button">Sign In</a>
  </div>
</div>

<h1>All Trips</h1>



<% for trip in @trips %>
    <p><a href="/trips/<%= trip[:id] %>"><%= trip[:title] %></a></p>
<% end %>